<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gu.Wpf.FlipView" version="2.0.2" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="Simplify.Resources" version="1.0.2" targetFramework="net48" />
  <package id="Simplify.Windows.Forms" version="1.1.2" targetFramework="net48" />
</packages>